// Override react-datetime styles
.rdtPicker {
  width: 100% !important;
  max-width: 100% !important;
  position: static !important;
  margin: 0 auto;
}

// Override bulma timeline styles
.timeline .timeline-item .timeline-marker.is-danger.is-icon > i {
  display: block;
  text-align: center;
}