.page-options {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;

  .items {
    position: absolute;
    right: 0;
    bottom: 100%;
    display: block;
    overflow: hidden;

    .button {
      float: right;
      margin-bottom: 5px;
    }
  }
}

.button.is-circle {
  border-radius: 50%;
}